/* === STYLE GÉNÉRAL === */
@font-face {
    font-family: "Adwaita";
    src: url("fonts/AdwaitaSans-Regular.ttf");
}

.root {
    -background-color: #222226;
    -background-color-text-field: #2E2D32;
    -background-color-menu: #2E2D32;
    -background-color-list-view: #2b2b2b;
    -border-color: #89B4FA;
    -button-color: #89B4FA;
    -button-color-hover: #6b8ec5;
    -button-color-dark: #2E2D32; 
    -button-color-dark-hover: #434347;
    -font-color-white-dusky: #aaaaaa;
    -font-color-white: #ffffff;
    -font-color-black: #2f2f2f;
    -background-color-error: #f38ba8;
    -green-label: #81c784;
    -blue-label: #64b5f6;
    -red-label: #e57373;
    -badge-color: #eeeeee;
    -add-button-color: #a6da95;
    -add-button-color-hover: #80ac67;
    -delete-button-color: #ed8796;
    -delete-button-color-hover: #bc606e;

    -fx-background-color: -background-color;
    -fx-font-family: "Adwaita", sans-serif;
    -fx-text-fill: -font-color-white;
}

/* === LABELS === */
.label{
    -fx-text-fill: -font-color-white;
    -fx-font-size: 1.25em;
    /* -fx-font-weight: bold; */
}

/* === TEXT === */
Text{
    -fx-fill: -font-color-white;
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
}

/* === CHAMPS DE TEXTE === */
.text-field {
    -fx-background-color: -background-color-text-field;
    -fx-text-fill: -font-color-white;
    -fx-prompt-text-fill: -font-color-white-dusky;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-font-size: 16px;
}

.text-field-error{
    -fx-background-color: -background-color-error;
    -fx-text-fill: -background-color;
    -fx-prompt-text-fill: -background-color;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-font-size: 16px;
    /* -fx-scale-x: 1.05;
    -fx-scale-y: 1.05; */
}

.text-field:focused {
    -fx-border-color: -border-color;
}

/* === COMBOBOX === */
.combo-box {
    -fx-background-color: -background-color-menu;
    -fx-text-fill: -font-color-white;
    -fx-prompt-text-fill: -font-color-white;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-font-size: 16px;
}
.combo-box:focused {
    -fx-border-color: -border-color;
}
.combo-box .list-view {
    -fx-background-color: -background-color-list-view;
    -fx-background-radius: 10;
    -fx-padding: 4;
}

.combo-box-menu{
    -fx-pref-width: 120;
}

.combo-box-menu .list-view{
    -fx-width: 120;
}

.combo-box .list-cell {
    -fx-text-fill: -font-color-white;
    -fx-background-color: transparent;
    -fx-background-radius: 4;
}
.combo-box .list-cell:hover {
    -fx-background-color: -button-color-dark-hover;
}

/* === BOUTONS === */
.button {
    -fx-background-color: -button-color;
    -fx-text-fill: -font-color-white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 10 18;
    -fx-alignment: center;
}
.button:hover {
    -fx-background-color: -button-color-hover;
}

.add-button{
    -fx-background-color: -add-button-color;
    -fx-text-fill: -font-color-black;
}

.add-button:hover{
    -fx-background-color: -add-button-color-hover;
}

.delete-button{
    -fx-background-color: -delete-button-color;
    -fx-text-fill: -font-color-black;
}

.delete-button:hover{
    -fx-background-color: -delete-button-color-hover;
}

.submit-button{
    -fx-text-fill: -font-color-black;
    -fx-pref-width: 80px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

/* === CARD === */
.card {
    -fx-background-color: transparent;
    -fx-border-raduis: 20;
    -fx-background-radius: 20;
    -fx-padding: 0;
    -fx-spacing: 4px;
}

/* === CARD BOUTONS === */
.card-button {
    -fx-background-color: -button-color-dark;
    -fx-font-size: 14px;
    -fx-text-fill: -font-color-white;
    -fx-background-radius: 0;
    -fx-border-radius: 8;
    -fx-padding: 6 8;
    -fx-cursor: hand;
}
.card-button:hover {
    -fx-background-color: -button-color-dark-hover;
}
.card-button Label{
    -fx-font-weight: small;
    -fx-font-size: 12px;
}
.menu-button {
    -fx-background-color: -button-color-dark;
    -fx-text-fill: -font-color-white;
    -fx-padding: 10 8;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.menu-button:hover {
    -fx-background-color: -button-color-dark-hover;
}

/* === MAIN MENU === */
.menu{
    -fx-background-color: -background-color-menu;
}

/* === ÉTIQUETTES D'ÉTAT === */
.label-libre {
    -fx-background-color: -green-label;
    -fx-text-fill: #2f2f2f;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
}
.label-occupee {
    -fx-background-color: -blue-label;
    -fx-text-fill: #2f2f2f;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
}
.label-maintenance {
    -fx-background-color: -red-label;
    -fx-text-fill: #2f2f2f;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
}

/* === ÉTIQUETTES (BADGES) POUR LES ÉTAGES, ICÔNES, ETC === */
.badge {
    -fx-background-color: -badge-color;
    -fx-text-fill: -font-color-black;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
    /* -fx-font-weight: bold; */
}
