/* === STYLE GÉNÉRAL === */
@font-face {
    font-family: "Adwaita Mono Bold";
    src: url("fonts/AdwaitaMono-Bold.ttf");
}

@font-face {
    font-family: "JetBrainsMonoNL NFM Regular";
    src: url("fonts/JetBrainsMonoNLNerdFontMono-Regular.ttf");
}

@font-face {
    font-family: "Segoe UI This";
    src: url("fonts/segoeuithis.ttf");
}

@font-face {
    font-family: "Segoe UI This Bold";
    src: url("fonts/segoeuithisbd.ttf");
}


.root {
    -background-color: #222226;
    -background-color-text-field: #2e2d32;
    -background-color-menu: #2e2d32;
    -background-color-list-view: #2b2b2b;
    -border-color: #89b4fa;
    -button-color: #89b4fa;
    -button-color-hover: #6b8ec5;
    -button-color-dark: #2e2d32;
    -button-color-dark-hover: #434347;
    -font-color-white-dusky: #aaaaaa;
    -font-color-white: #ffffff;
    -font-color-black: #2f2f2f;
    -background-color-error: #f38ba8;
    -green-label: #81c784;
    -blue-label: #64b5f6;
    -red-label: #e57373;
    -badge-color: #eeeeee;
    -add-button-color: #a6da95;
    -add-button-color-hover: #80ac67;
    -delete-button-color: #ed8796;
    -delete-button-color-hover: #bc606e;

    -fx-background-color: -background-color;
    /* -fx-font-family: "Adwaita Mono Bold";
    -fx-font-weight: bold; */
    /* -fx-font-family: "JetBrainsMonoNL NFM Regular"; */
    /* -fx-font-weight: bold; */
    -fx-font-family: "Segoe UI This Bold";
    -fx-font-weight: small;
    -fx-text-fill: -font-color-white;
}

/* === LABELS === */
.label {
    -fx-text-fill: -font-color-white;
    -fx-font-size: 1.25em;
    /* -fx-font-weight: bold; */
}

/* === TEXT === */
Text {
    -fx-fill: -font-color-white;
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
}

/* === CHAMPS DE TEXTE === */
.text-field {
    -fx-background-color: -background-color-text-field;
    -fx-text-fill: -font-color-white;
    -fx-prompt-text-fill: -font-color-white-dusky;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-font-size: 16px;
}

.text-field-error {
    -fx-background-color: -background-color-error;
    -fx-text-fill: -background-color;
    -fx-prompt-text-fill: -background-color;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-font-size: 16px;
    /* -fx-scale-x: 1.05;
    -fx-scale-y: 1.05; */
}

.text-field:focused {
    -fx-border-color: -border-color;
}

/* === COMBOBOX === */
.combo-box {
    -fx-background-color: -background-color-menu;
    -fx-text-fill: -font-color-white;
    -fx-prompt-text-fill: -font-color-white;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-font-size: 16px;
}
.combo-box:focused {
    -fx-border-color: -border-color;
}
.combo-box .list-view {
    -fx-background-color: -background-color-list-view;
    -fx-background-radius: 10;
    -fx-padding: 4;
}

.combo-box-menu {
    -fx-pref-width: 120;
}

.combo-box-menu .list-view {
    -fx-width: 120;
}

.combo-box .list-cell {
    -fx-text-fill: -font-color-white;
    -fx-background-color: transparent;
    -fx-background-radius: 4;
}
.combo-box .list-cell:hover {
    -fx-background-color: -button-color-dark-hover;
}

/* === BOUTONS === */
.button {
    -fx-background-color: -button-color;
    -fx-text-fill: -font-color-black;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 10 18;
    -fx-alignment: center;
}
.button:hover {
    -fx-background-color: -button-color-hover;
}

.add-button {
    -fx-background-color: -add-button-color;
    -fx-text-fill: -font-color-black;
}

.add-button:hover {
    -fx-background-color: -add-button-color-hover;
}

.delete-button {
    -fx-background-color: -delete-button-color;
    -fx-text-fill: -font-color-black;
}

.delete-button:hover {
    -fx-background-color: -delete-button-color-hover;
}

.submit-button {
    -fx-text-fill: -font-color-black;
    -fx-pref-width: 80px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.log-out-button {
    -fx-background-color: -delete-button-color;
}

.log-out-button:hover {
    -fx-background-color: -delete-button-color-hover;
}

/* === CARD === */
.card {
    -fx-background-color: transparent;
    -fx-border-raduis: 20;
    -fx-background-radius: 20;
    -fx-padding: 0;
    -fx-spacing: 2px;
}

/* === CARD BOUTONS === */
.card-button {
    -fx-background-color: -button-color-dark;
    -fx-font-size: 14px;
    -fx-text-fill: -font-color-white;
    -fx-background-radius: 0;
    -fx-border-radius: 8;
    -fx-padding: 6 8;
    -fx-cursor: hand;
}
.card-button:hover {
    -fx-background-color: -button-color-dark-hover;
}
.card-button Label {
    -fx-font-weight: small;
    -fx-font-size: 12px;
}
.menu-button {
    -fx-background-color: -button-color-dark;
    -fx-text-fill: -font-color-white;
    -fx-padding: 10 8;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.menu-button:hover {
    -fx-background-color: -button-color-dark-hover;
}

/* === MAIN MENU === */
.menu {
    -fx-background-color: -background-color-menu;
}

/* === ÉTIQUETTES D'ÉTAT === */
.label-libre {
    -fx-background-color: -green-label;
    -fx-text-fill: #2f2f2f;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
}
.label-occupee {
    -fx-background-color: -blue-label;
    -fx-text-fill: #2f2f2f;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
}
.label-maintenance {
    -fx-background-color: -red-label;
    -fx-text-fill: #2f2f2f;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
}

/* === ÉTIQUETTES (BADGES) POUR LES ÉTAGES, ICÔNES, ETC === */
.badge {
    -fx-background-color: -badge-color;
    -fx-text-fill: -font-color-black;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
    /* -fx-font-weight: bold; */
}

/* === DATE PICKER === */


/* Bouton flèche */
.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
}

.date-picker .arrow-button .arrow {
    -fx-shape: "M0,0 L4,4 L8,0 Z";
    -fx-mark-color: #89b4fa;
}

/* Popup */
.date-picker .date-picker-popup {
    -fx-background-color: #2e2d32;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-alignment: CENTER;
    -fx-spacing: 0;
    -fx-padding: 1px;
}

/* En-tête mois/année */
.date-picker .month-year-pane {
    -fx-padding: 8px;
    -fx-background-color: #2e2d32;
    -fx-background-radius: 4px 4px 0 0;
}

.date-picker .spinner {
    -fx-spacing: 4px;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 1.1em;
}

.date-picker .spinner .button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.date-picker .spinner .button .left-arrow {
    -fx-shape: "M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z";
    -fx-scale-shape: false;
    -fx-background-color: #89b4fa;
}

.date-picker .spinner .button .right-arrow {
    -fx-shape: "M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z";
    -fx-scale-shape: false;
    -fx-background-color: #89b4fa;
}

.date-picker .spinner .label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.date-picker .calendar-grid {
    -fx-background-color: #2e2d32;
    -fx-padding: 8px;
    -fx-hgap: 5px;
    -fx-vgap: 0;
    -fx-background-radius: 4px;
}

.date-picker .date-cell {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-text-fill: #dddddd;
    -fx-font-size: 1em;
}

.date-picker .day-cell {
    -fx-padding: 8px 4px;
    -fx-background-color: #2e2d32;
}

.date-picker .today {
    -fx-background-color: #38373d;
    -fx-text-fill: #89b4fa;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.date-picker .selected {
    -fx-background-color: #89b4fa;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.calendar-button{
    -fx-shape: "M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z";
    -fx-background-color: #ffffff;
    -fx-scale-shape: false;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-padding: 5px;
}